{% extends 'base.html' %}

{% block title %}
История
{% endblock %}
{% block content %}
<p>
<div class="didi">Это переводчик с азбуки морзе на русский и английский, ну, и наоборот. История сохраняется только у избранных
(у зареганных). Удачи с переводами!!</div>
</p>
<p><div class="didi">It is a translator from Morse code into Russian and English, and vice versa. The history is saved only for the chosen
ones (for the registered ones). Good luck with the translations!!</div></p>
{% endblock %}
{% block content2 %}
</br><img src="/static/img/mors.png" class="immg">
{% endblock %}