{% extends 'base.html' %}

{% block title %}
Возможности
{% endblock %}
{% block content %}
<p>
<div class="didi">У вас есть возможность перевода с английского и русского на азбуку морзе. Ваши переводы хранятся в базе данных!!!
    Историю переводов можно посмотреть во вкладке "История".
Если вы выбираете язык и выходит, что вы хотите перевести с Morsecode, нажмите на кнопку "Перевести", выберите язык для перевода
и введите текст, нажмите на кнопку "Перевести".</div>
</p>
<p><div class="didi">You have the option to translate from English and Russian into Morse code. Your translations are stored in the database!!!
The translation history can be viewed in the "History" tab.
If you select a language and it turns out that you want to translate from Morse code, click on the "Translate" button, select the language to translate
and enter the text, click on the "Translate" button.</div></p>
{% endblock %}
{% block content2 %}
</br><img src="/static/img/cat.png" class="immg2" >
{% endblock %}