{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
<h1>Morsecode translator</h1>
    <form action="" method="post">
    {{ form.hidden_tag() }}

    {{ form.content(class="form-control sizee") }}

    {{ form.lang(class="form-control choice") }}

    {{ form.trans_lang(class="form-control choice_2") }}

    {{ form.submit(type="submit", class="btn btn-success buttony") }}
</form>

<div><textarea  class="block_2" rows="5" cols="33" readonly>{{text}}</textarea></div>

{% endblock %}